<html>
  <head>
    <style>
      div {
        border-radius: 5px;
        padding: 10% 10%;
        text-align: center;
      }
      a {
        width: 100%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
      }
      .box {
        font-family: Helvetica;
        background-color: #f2f2f2;
        width: 60%;
        height: 50%;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="box">
        <p style="font-size: 40px;">OpenID Example</p>
        <a href="/login">Log In</a>
        <br /><br /><br /><br />
        <p>by Pancho</p>
      </div>
    </div>
  </body>
</html>
